-
  var nav = [
    {
      active: '',
      link: '/index.html',
      text: 'Home',
    },
    {
      active: 'active',
      link: '#',
      text: 'Mulch Supplier',
    },
    {
      active: '',
      link: '#',
      text: 'Soils',
    },
    {
      active: '',
      link: '#',
      text: 'Mulch Fundraisers',
    },
    {
      active: '',
      link: '#',
      text: 'Contact Us',
    },
  ]
header.header
  .menu-btn__wrapper
    a(href='#').menu-btn#menu-btn
      span.menu-btn__line
  .logo__wrapper
    .logo__decor
      a.logo__link(href='/index.html')
        img(src='templates/images/logo.png' alt='logo').logo__image
  nav.nav#nav
    ul.nav__list
      each item in nav
        li.nav__item
          a.nav__link(href=`${item.link}` class=`nav__link--${item.active}`)= item.text