
@font-face{
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Black.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face{
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: 'NIMBSTB';
  src: url('../fonts/NIMBSTB.ttf');
  font-weight: bold;
  font-style: normal;
}
