$font-white-grey: #f1f2f5;
$font-dark-grey: #919191;
$font-black-grey: #7b7b7b;

$main-green: #8dc705;
$second-green: #48890a;
$main-orange: #e46107;

$boder-green: #7da83c;

$bg-green: #26311c;
$bg-grey: #e4e4e4;

$btn-default-border: #a1ad97;